<section class="has-boxshadow" id="tsparticles">
  <div class="section">
    <div
      class="container is-flex is-justify-content-center is-align-items-center"
    >
      <div class="is-max-w-lg mx-auto has-text-centered mb-6 flexed">
        <h1 class="title is-spaced is-size-1 is-size-3-touch">
          <span class="white">Welcome to </span>
          <span class="yellow">Flash</span><span class="white">coll</span>
        </h1>
        <p class="subtitle white is-size-4 is-size-5-touch">
          Platform to find collaborators for your projects and connect with them
          via social networks or just to make a new friend :)
        </p>

        <button class="button is-primary is-large">
          <a
            class="is-size-3 is-size-5-touch white"
            href="https://www.youtube.com/embed/NXINisOIqqw?start=0"
            rel="noopener"
            target="_blank"
            >Click here to check Flashcoll intro video!</a
          >
        </button>
      </div>
    </div>
  </div>
</section>
