.user-name
  display: flex
  gap: 10px
  justify-items: center
  align-items: center
  flex-direction: row

.logged-in-actions
  display: none // fixes small UI bug of appearing before proper time on page refresh: TODO: Check if .ts file is causing this and refactor the code

.navbar-item
  font-family: 'Courier-New'

.dropdown-menu
  left: auto
