.courier
  font-family: 'Courier New'

.form
  background-color: #fff
  border-radius: 0.75rem

.formFields
  gap: 1rem

.note
  background-color: #00d1b2
  diplay: flex
  flex-direction: column
  gap: 1rem
  border-radius: 0.75rem 0.75rem 0 0
  -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75)
  box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75)

.field
  width: 60%
