<section class="my-6">
  <section class="text-section courier has-text-centered-mobile">
    <h1 class="is-size-2 has-text-weight-bold">Social networks</h1>
    <p class="is-size-5">Manage settings related to your social networks</p>
  </section>
  <section class="mt-6 pb-6 form courier">
    <section class="note has-text-centered has-text-weight-bold">
      <p class="pt-5 pb-2 is-size-4 is-size-5-mobile">
        ONLY NETWORKS YOU ADD WILL BE SHOWN TO OTHERS
      </p>
      <p class="is-size-6 pb-5">
        DECIDE HOW OTHERS WILL BE ABLE TO GET IN TOUCH WITH YOU
      </p>
    </section>
    <section class="mt-2 p-5"></section>
    <form [formGroup]="subProfileForm">
      <!-- <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="firstName" /> -->
      <section class="formFields" style="display: flex">
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input is-success"
              type="text"
              placeholder="Text input"
              value="bulma"
            />
            <span class="icon is-small is-left">
              <span class="material-icons">email</span>
            </span>
          </div>
        </div>
      </section>
    </form>
  </section>
</section>
