
.cl-component
  margin-top: 1rem !important

.cl-component.cl-user-profile .cl-navbar-link.cl-active
  border-left-color: #E5E5E5 !important
  color: #404040 !important

.cl-component.cl-user-profile .cl-navbar-link
  color: #fdc468 !important

.clerk-components
  background-color: #404040 !important

.cl-component .cl-page-heading .cl-title, .cl-component .cl-page-heading .cl-subtitle
  color: #fdc468 !important

.cl-component .cl-page-heading .cl-back-button
  background-color: #fdc468 !important

.cl-component.cl-user-button
  display: flex !important
  padding: 0 !important
  margin: 0 auto !important
  width: 3rem !important
  height: 3rem !important

.cl-accounts-manager-button:hover
  background-color: #fdc468 !important
  color: #404040 !important

.cl-accounts-manager-button:hover svg
  color: #404040 !important

.cl-user-button-popup-current-account
  color: #fdc468 !important

.cl-component.cl-user-button .cl-user-button-trigger
  -webkit-box-shadow: 0px 0px 2px 0px #E5E5E5 !important
  -moz-box-shadow: 0px 0px 2px 0px #E5E5E5 !important
  box-shadow: 0px 0px 2px 0px #E5E5E5 !important
  transition: 0.3s !important

.cl-component.cl-user-button .cl-user-button-trigger:hover
  -webkit-box-shadow: 0px 0px 10px 0px #E5E5E5 !important
  -moz-box-shadow: 0px 0px 10px 0px #E5E5E5 !important
  box-shadow: 0px 0px 10px 0px #E5E5E5 !important

.cl-component label
  color: #65cdae !important

.cl-title, .cl-navbar-link, .cl-subtitle
  color: #282828 !important

.cl-component.cl-user-button-popup
  background-color: #282828 !important

.cl-component.cl-user-button-popup .cl-active-account-buttonset
  flex-direction: column !important
  gap: 10px !important
  justify-content: center !important
  align-content: center !important

.order-1
  order: 1 !important
  width: 100% !important

.order-2
  order: 2 !important
  width: 100% !important

.order-3
  order: 3 !important
  width: 100% !important

.navbar-item img
  max-height: 6rem !important
