.cl-component
  // -webkit-box-shadow: 0px 0px 218px -59px rgba(255,255,255,1) !important
  // -moz-box-shadow: 0px 0px 218px -59px rgba(255,255,255,1) !important
  // box-shadow: 0px 0px 218px -59px rgba(255,255,255,1) !important
  // background-color: #343a40 !important

.cl-component.cl-sign-in, .cl-component.cl-sign-up
  // width: auto !important

.cl-component label
  color: #65cdae !important
// .cl-component .cl-auth-form-switch
//   display: none !important

.cl-title, .cl-navbar-link, .cl-subtitle
  color: #282828 !important

.cl-component.cl-user-button-popup
  background-color: #282828 !important

.cl-component.cl-user-button-popup .cl-active-account-buttonset
  flex-direction: column !important
  gap: 10px !important
  justify-content: center !important
  align-content: center !important

.order-1
  order: 1 !important
  width: 100% !important

.order-2
  order: 2 !important
  width: 100% !important

.order-3
  order: 3 !important
  width: 100% !important
