<aside class="menu is-hidden-touch">
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="navbar-item">
      <app-logo></app-logo>
    </a>
  </div>
  <p class="menu-label has-text-centered">Flashcoll</p>
  <ul class="menu-list">
    <a class="navbar-item" [routerLink]="['/create-project']">+ New project</a>
  </ul>
  <footer class="footer">
    <div #userAction class="navbar-item"></div>
  </footer>
</aside>

<aside class="menu is-hidden" data-toggle="side-menu" id="navbarBasicExample">
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="navbar-item">
      <app-logo></app-logo>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <p class="menu-label has-text-centered">Flashcoll</p>
  <ul class="menu-list">
    <a class="navbar-item" [routerLink]="['/create-project']">+ New project</a>
  </ul>
  <footer class="footer">
    <div #userAction class="navbar-item"></div>
  </footer>
</aside>
