<div class="columns card">
  <div class="column is-4 centered">
    <header
      class="
        is-darker-background
        card-header
        is-flex
        is-justify-content-center
        is-align-content-center
        is-align-items-center
        is-flex-direction-column
        p-6
      "
    >
      <div>
        <figure class="image is-96x96 is-64x64-mobile">
          <a [routerLink]="['/profile', project.userID]">
            <img
              class="is-rounded"
              [src]="user?.userImageURL"
              width="64"
              height="64"
              alt="github-user-image-projectcard"
            />
          </a>
        </figure>
      </div>
      <div
        style="gap: 0.5rem"
        class="
          px-2
          is-flex
          is-flex-direction-column
          is-justify-content-center
          is-align-items-center
          is-align-content-center
          is-size-4
          is-size-5-touch
        "
      >
        {{ user?.firstName }} {{ user?.lastName }}
        <span class="tag is-primary is-size-5 is-size-7-touch">
          Looking for collaborators
        </span>
        <a
          [routerLink]="['/project', project.id]"
          class="card-footer-item mt-2 has-text-centered read-more"
          >READ MORE</a
        >
      </div>
    </header>
  </div>
  <div
    class="column is-flex is-flex-direction-column is-justify-content-center"
  >
    <header class="card-header is-darker-background">
      <p
        class="
          mt-2
          is-text-orange
          card-header-title
          is-size-4
          is-flex
          is-flex-direction-column
          is-justify-content-center
          is-align-items-center
          is-align-content-center
        "
      >
        {{ project.projectTitle }}
      </p>
    </header>
    <div class="card-content is-darker-background mt-2 is-text-platinum-light">
      <div
        class="
          content
          description
          is-size-4
          has-text-weight-light has-text-centered has-text-left-mobile
        "
        [class]="noDescriptionClass"
      >
        {{ project.projectShortDescription }}
      </div>
    </div>
    <footer
      *ngIf="ifProjectHasTags"
      class="
        card-footer
        tags
        is-size-6
        has-text-centered
        is-darker-background
        mt-2
        p-2
      "
    >
      {{ project.tags }}
    </footer>
  </div>
</div>
